.login-box
  .logo-title
    .logo
      = svg_icon 'logo'
  .login-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .fields
        .field
          = svg_icon 'login_password'
          = f.password_field :password, autofocus: true, placeholder: 'Password', minlength: @minimum_password_length
        .field
          = svg_icon 'login_password'
          = f.password_field :password_confirmation, placeholder: 'Password confirmation'
      = f.submit 'Change my password'
    .forgot-password-link
      = link_to 'Login', new_session_path(resource_name)