.login-box
  .logo-title
    .logo
      = svg_icon 'logo'
  .login-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .fields
        .field
          = svg_icon 'login_user'
          = f.email_field :email, autofocus: true, placeholder: 'Email'

      = f.submit 'Send'
      .forgot-password-link
        = link_to 'Login', new_session_path(resource_name)